
<ng-container *ngIf="this.roomState.me$ | async as me">
    <ng-container *ngIf="this.roundState.inventorys$ | async as inventorys">
        <ng-container *ngIf="inventorys.get(me.uuid)?.cards$ | async as cards">
            <div class="card-container"
                *ngFor="let card of cards let index=index"
                #element
                (click)="dropCard(element, card)"
                [ngClass]="(this.roomState.me$ | async)?.uuid == (this.roundState.currentplayer$ | async)?.uuid ? 'interactable': ''"
                [ngStyle]="{'transform': 'translateX('+ (inventorys.get(me.uuid)?.calculateXTranslate(index)) + 'px) rotate('+ (inventorys.get(me.uuid)?.calculateRotation(index)) + 'deg)'}">
                <app-unocard [unucard]="card"></app-unocard>
            </div>
        </ng-container>
        <div class="controls">
            <fa-icon (click)="inventorys.get(me.uuid)?.sort()" tippy="Sort Inventory" [icon]="faSort" style="color: rgb(130, 130, 255);"></fa-icon>
            <fa-icon (click)="endTurn()" *ngIf="(this.roundState.currentplayer$ | async)?.uuid == me.uuid" 
                    tippy="End Turn" 
                     [icon]="faCheck" 
                     style="color: green;"></fa-icon>
            <fa-icon (click)="sayUnu()" tippy="UNU!" [icon]="faBullhorn" style="color: red;"></fa-icon>
        </div>
    </ng-container>
</ng-container>
