
<div class="front">
    <ng-container *ngIf="(this.unucard | typeof : Draw4UnUCard)">
            <div class="top">+4</div>
            <div class="center">+4</div>
            <div class="bottom">+4</div>
    </ng-container>
    <ng-container *ngIf="(this.unucard | typeof : WishUnUCard)">
            <div class="top"><fa-icon [icon]="faWish"></fa-icon></div>
            <div class="center"><fa-icon [icon]="faWish"></fa-icon></div>
            <div class="bottom"><fa-icon [icon]="faWish"></fa-icon></div>
    </ng-container>
    <ng-container *ngIf="(this.unucard | typeof : Draw2UnUCard)">
            <div class="top">+2</div>
            <div class="center">+2</div>
            <div class="bottom">+2</div>
    </ng-container>
    <ng-container *ngIf="(this.unucard | typeof : InvertUnUCard)">
            <div class="top"><fa-icon [icon]="faInvert"></fa-icon></div>
            <div class="center"><fa-icon [icon]="faInvert" style="display: inline-block; transform: rotate(-60deg);"></fa-icon></div>
            <div class="bottom"><fa-icon [icon]="faInvert"></fa-icon></div>
    </ng-container>
    <ng-container *ngIf="(this.unucard | typeof : SuspendUnUCard)">
            <div class="top"><fa-icon [icon]="faTimes"></fa-icon></div>
            <div class="center"><fa-icon [icon]="faTimes"></fa-icon></div>
            <div class="bottom"><fa-icon [icon]="faTimes"></fa-icon></div>
    </ng-container>
    <ng-container *ngIf="(this.unucard | typeof : NumberUnUCard)">
        <div class="top">{{(this.unucard | cast : NumberUnUCard).getNumber()}}</div>
        <div class="center">{{(this.unucard | cast : NumberUnUCard).getNumber()}}</div>
        <div class="bottom">{{(this.unucard | cast : NumberUnUCard).getNumber()}}</div>
    </ng-container>
</div>
<div class="back">
    <p>UNU</p>
</div>
