<div class="playeritem-section">
    <fa-icon tippy="First Place" [icon]="faMedal" class="medal-tag" id="medal-1" *ngIf="this.ranking == 1"></fa-icon>
    <fa-icon tippy="Second Place" [icon]="faMedal" class="medal-tag" id="medal-2" *ngIf="this.ranking == 2"></fa-icon>
    <fa-icon tippy="Third Place" [icon]="faMedal" class="medal-tag" id="medal-3" *ngIf="this.ranking == 3"></fa-icon>
    <p>{{this.name}}</p>
</div>
<div class="playeritem-section">
    <fa-icon tippy="You" [icon]="faUser" id="self-tag" *ngIf="this.isMe"></fa-icon>
    <fa-icon tippy="Admin of this Room" [icon]="faEthereum" id="owner-tag" *ngIf="this.isOwner"></fa-icon>
</div>