<p>{{this.player["name"]}}</p>
<div class="cards">
    <ng-container *ngIf="this.roundState.inventorys$ | async as inventorys">
        <ng-container *ngIf="inventorys.get(this.player.uuid) != undefined">
            <div class="card-container" [ngStyle]="
            {'transform':((inventorys.get(this.player.uuid)?.hoveredcard$ | async) == card ? 'translateY(-30px)' : '') + 
            ((this.roundState.currentplayer$ | async)?.uuid == this.player.uuid ? ' scale(0.8)' : ' scale(0.6)') +
            ' rotate('+(inventorys.get(this.player.uuid)?.calculateRotation(index) + 'deg)')}"
            *ngFor="let card of (inventorys.get(this.player.uuid)?.cards$| async); let index=index">
                <app-unocard [side]="'back'" [unucard]="card"></app-unocard>
            </div>
            <ng-container *ngIf="this.roundState.leaderboard$ | async as leaderboard">
                <ng-container *ngIf="(inventorys.get(this.player.uuid)?.cards$| async)?.length == 0">
                    <p id="firstplace" *ngIf="leaderboard[0] != null && leaderboard[0].uuid == this.player.uuid">
                        1. Place
                    </p>
                    <p id="secondplace" *ngIf="leaderboard[1] != null && leaderboard[1].uuid == this.player.uuid">
                        2. Place
                    </p>
                    <p id="thirdplace" *ngIf="leaderboard[2] != null && leaderboard[2].uuid == this.player.uuid">
                        3. Place
                    </p>
                </ng-container>
            </ng-container>
        </ng-container>

    </ng-container>
</div>
