:host {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    position: absolute;
    transform-origin: bottom center;
    transition: transform 0.5s ease-in-out, scale 0.3s ease-in-out;
}

.cards {
    width: 190px; 
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center
}

p {
    color: white;
    font-size: 25px;
}

#firstplace {
    color: gold;
}

#secondplace {
    color: silver;
}

#thirdplace {
    color: rgb(189, 77, 50);
}