<p class="player-name">{{this.player["name"]}}</p>
<div class="cards">
    <ng-container *ngIf="this.roundState.inventorys$ | async as inventorys">
        <ng-container *ngIf="inventorys.get(this.player.uuid) != undefined">
            <div class="card-container" [ngStyle]="
            {'transform':((inventorys.get(this.player.uuid)?.hoveredcard$ | async) == card ? 'translateY(-30px)' : '') + 
            ((this.roundState.currentplayer$ | async)?.uuid == this.player.uuid ? ' scale(0.8)' : ' scale(0.6)') +
            ' rotate('+(inventorys.get(this.player.uuid)?.calculateRotation(index) + 'deg)'),
            'filter': (this.roundState.currentplayer$ | async)?.uuid == this.player.uuid ? '' : 'grayscale(80%)'}"
            *ngFor="let card of (inventorys.get(this.player.uuid)?.cards$| async); let index=index">
                <app-unocard [side]="'back'" [unucard]="card"></app-unocard>
            </div>
            <div class="card-container card-container-small"
            [ngStyle]="{'transform':(this.roundState.currentplayer$ | async)?.uuid == this.player.uuid ? ' scale(1.2)' : ' scale(1)'}">
                <ng-container *ngIf="inventorys.get(this.player.uuid)?.cards$ | async as cards">
                    <div class="fake-card">{{cards.length}}</div>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</div>
