<div id="logo-container">
    <div id="cards-container">
        <div class="card-container" [ngStyle]="{'rotate':this.getRotation(1)+'deg'}">
            <app-unocard [unucard]="unucard1"></app-unocard>
        </div>
        <div class="card-container" [ngStyle]="{'rotate':this.getRotation(2)+'deg'}">
            <app-unocard [unucard]="unucard2"></app-unocard>
        </div>
        <div class="card-container" [ngStyle]="{'rotate':this.getRotation(3)+'deg'}">
            <app-unocard [unucard]="unucard3"></app-unocard>
        </div>
    </div>
    <div id="header">
        UNU!
    </div>
</div>
<form [formGroup]="loginForm" id="form-container">
    <div id="loading-container" *ngIf="this.loginstate == LoginState.Loading">
        <h1 *ngIf="!(this.roomState.invalid$ | async)">Joining Room...</h1>
        <h1 *ngIf="this.roomState.invalid$ | async">Invalid Room-ID</h1>
    </div>
    <div id="form-input">
        <div id="name-container" *ngIf="this.loginstate == LoginState.Name">
            <label for="name">Nickname</label><br>
            <input id="name" placeholder="Name" type="text" formControlName="name">
        </div>
        <div id="gamecode-container" *ngIf="this.loginstate == LoginState.JoinRoom">
            <label for="gamecode-input">Room-ID</label>
            <app-gameid-input (value)="this.gameidValue($event)"></app-gameid-input>
        </div>
    </div>
    <div id="form-buttons">
        <button class="button" (click)="this.createRoom()" *ngIf="this.loginstate == LoginState.Switch">
            <span>Create New Room</span>
        </button>
        <button class="button" (click)="this.loginstate = LoginState.JoinRoom"  *ngIf="this.loginstate == LoginState.Switch">
            <span>Join Room</span>
        </button>
        <button class="button" (click)="this.setName()" *ngIf="this.loginstate == LoginState.Name">
            <span>Play</span>
        </button>
        <button class="button" (click)="this.joinRoom()" *ngIf="this.loginstate == LoginState.JoinRoom">
            <span>Join Room</span>
        </button>
        <button class="button" (click)="this.back()" *ngIf="(this.roomState.invalid$ | async) || this.loginstate == LoginState.JoinRoom">
            <span>Back</span>
        </button>
    </div>
</form>
<div id="credits">
    <p>Created with <fa-icon [icon]="faHeart"></fa-icon> by Placeblock</p>
</div>