<ng-container *ngIf="roomState.players$ | async as resolved">
    <ng-container *ngIf="roomState.owner$ | async as owner">
        <ng-container *ngIf="roomState.me$ | async as me">
            <div id="room-controls">
                <div id="room-info">
                    <p class="header">Room: {{this.roomState.id$ | async}}</p>
                    <fa-icon class="button" (click)="copyRoomID()" [icon]="faCopy"></fa-icon>
                </div>
                <div id="room-buttons">
                    <ng-container *ngIf="me.uuid == owner.uuid">
                        <button *ngIf="resolved.length >= 2" class="button" id="start-button" (click)="startRound()">Start</button>
                        <fa-icon class="button" [icon]="faCogs" (click)="toggleShowSettings()"></fa-icon>
                        <div id="settings-container" *ngIf="roomState.isShowingSettings$ | async">
                            <app-roundsettings (close)="roomState.isShowingSettings = false"></app-roundsettings>
                        </div>
                    </ng-container>
                    <fa-icon class="button" id="leave-room" [icon]="faSignOut" tippy="Leave Room" (click)="quitRoom()"></fa-icon>
                </div>
            </div>
            <div id="roomcontent">
                <p class="header">Players</p>
                <app-playerlist [players]="resolved" [owner]="owner" [me]="me"></app-playerlist>

            </div>
        </ng-container>
    </ng-container>
</ng-container>

<!--<ng-particles [id]="'particles'" [options]="particlesOptions"></ng-particles>-->
