<fa-icon [icon]="faSignOut" id="signout" tippy="Leave Room" (click)="quitRoom()"></fa-icon>
<ng-container *ngIf="roomState.players$ | async as resolved">
    <ng-container *ngIf="roomState.owner$ | async as owner">
        <ng-container *ngIf="roomState.me$ | async as me">
            <div id="roomcontent">
                <p id="playerlist-header">Players</p>
                <app-playerlist [players]="resolved" [owner]="owner" [me]="me"></app-playerlist>
                <ng-container *ngIf="resolved.length >= 2 && me.uuid == owner.uuid">
                    <hr>
                    <div id="round-container">
                        <button id="start-button" (click)="startRound()">Runde Erstellen</button>
                        <fa-icon id="settings-toggle" [icon]="faCogs" (click)="toggleShowSettings()"></fa-icon>
                        <div id="settings-container" *ngIf="roomState.isShowingSettings$ | async">
                            <app-roundsettings></app-roundsettings>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</ng-container>

<!--<ng-particles [id]="'particles'" [options]="particlesOptions"></ng-particles>-->
